<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <!--Title of landing login page-->
  <title>SOS Michigan Opioid Epidemic </title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <!-- icon  -->
  <link rel="icon" type="image/png" href="/static/images/icon_t.png">

  <!-- BS and FA -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <!-- d3 -->
  <script src="https://d3js.org/d3.v5.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/crossfilter2/1.4.7/crossfilter.min.js"></script>
  <script src="//d3js.org/topojson.v3.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  

  <!-- general style -->
  <link rel="stylesheet" href="/static/css/style.css">
  <link rel="stylesheet" href="/static/css/landingcss.css">
  <link rel="stylesheet" href="/static/css/michigan.css">


</head>
<body>
  <!-- accessibility skip to main tab index -->
  <a href="#content" class="sr-only sr-only-focusable">Skip to main content</a>

  <header>

  </header>

  <!-- top navigation -->

  
  <nav class="navbar navbar-expand-sm fixed-top d-print-none">
    <div class = "container-fluid">
      <div class = "navbar-header mr-auto d-flex">
          <div class="container">
              <div class = "row">
                <div class = "col-sm-12 d-flex flex-row justify-content-between align-items-center">
                    <div class = "mainlogo">
                        <img src= "/static/images/IPC.png">
                    </div>
                    <div class = "otherlogos">
                        <img class="topSOS" src = "/static/images/SOS.png"></img>
                        <img class = "topHIDTA" src = "/static/images/hidta.png"></img>
                    </div>
                </div>
              </div>
            </div>

      </div>
     </div>
  </nav>

  <div class="container-fluid container-top-buffer">
    <div class="row">
      <div class = "col-sm-12">
        <div class= "row content">
          <div class = "col-sm-12">
           
            <div class="welcome">
              <h2>Welcome to System for Opioid Overdose Surveilance</h2>
            </div>

           <div class = "row mapbg">

             <div class = "row incidentcount">
               <div class = "col-sm-12">
                 <p class = "numberIncidents" id="totalCount"></p>
               </div> <!--close col-->
             </div> <!--close row incidentcount-->

             <div class = "col-sm-5 mapandcount unitEms">
                <div class = "row label">
                  <div class = "col-sm-12 d-flex justify-content-center text-center">
                      <h6 class="dataTotal" id= "totalEms">EMS Incidents: </h6>
                  </div>
                </div>
                <div class= "row mapstuff">
                  <div class="col-sm-12 d-flex justify-content-center">
                      <div class = "mich" id="michEms"></div>
                  </div>
                </div>
             </div> <!--close col-->
             <div class="col-sm-2"></div>
             <div class = "col-sm-5 mapandcount unitMe">
                <div class = "row label">
                  <div class = "col-sm-12 d-flex justify-content-center text-center">
                      <h6 class="dataTotal" id = "totalMe">ME Incidents Incidents: </h6>
                  </div>
                </div>
                <div class= "row mapstuff">
                  <div class="col-sm-12 d-flex justify-content-center">
                      <div class = "mich" id="michMe"></div>
                  </div>
                </div>
             </div> <!--close col-->
           </div> <!--close row mapbg-->
          </div>
        </div>
          <div class="row">
            <div class = "col-sm-12 d-flex justify-content-center align-items-center">
              <a href="https://injurycenter.umich.edu/" target="_blank"><img class="isIpc" src = "/static/images/IPC.png"></img></a>
              <img class = "notipc" id = "sos" src = "/static/images/SOS.png"></img>
              <img class = "notipc" src = "/static/images/hidta.png"></img>
            </div>
        </div>
      </div>
    </div>
    <svg xmlns="http://www.w3.org/2000/svg" version="1.1">
      <defs> 
        <pattern id="stripes" width="6" height="6" patternUnits="userSpaceOnUse" patternTransform="rotate(60)">
          <rect width="2" height="6" fill="#575294"></rect>
        </pattern>
      </defs> 
    </svg>
    <footer class="footer d-print-none">
      <div class = "row">
          <div class="col-sm-1 text-left">
              <a href = "/login"><span class="fa fa-sign-in"></span> Login</a>
          </div>
          <div class="col-sm-11 text-right d-flex justify-content-end">
            <p>Copyright &copy The Regents of the University of Michigan</p>
          </div>
      </div>
    </footer>
  <!-- scripts -->
    <script src= "/static/js/makeLandingMichSvg.js"></script>
    <script>
      let MEcounties = {{ data.MEcounties|safe }}
      makeMichMap(michEms, "/static/data/emsData.csv");
      makeMichMap(michMe, "/static/data/meData.csv", ME=true);
    </script>
</body>
</html>
